@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* font-family: 'Lexend Deca', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
/* font-family: 'Big Shoulders Display', cursive; */


body{
    background-color:  hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;


}

p{
    font-weight: 100;
}
.color{
    color:hsl(31, 77%, 52%) ;
    color:hsl(184, 100%, 22%) ;
    color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
    color:  hsl(0, 0%, 95%);

}

.main-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    padding: 50px;
    width: 70%;
}

.first-part,
.second-part,
.third-part{
    color: aliceblue;
    padding: 30px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first-part{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


}

.second-part{
    background-color:hsl(184, 100%, 22%);


}

.third-part{
    background-color:hsl(179, 100%, 13%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

button{
    background-color: hsla(0, 0%, 100%, 0.75);
    border-radius: 15px;
    border: 0;
    padding: 10px;
    width: 70%;
    margin: auto auto;
    font-size: 16px;
}

button:hover{
    border: white 2px solid;
    background-color: transparent;
    color: white;
}
img{
    width: 70px;
    margin-bottom: 50px;
}

@media (max-width: 1100px) {
    .main-div{
        width: 90%;
    }
    
}

@media (max-width: 590px) {
    .main-div{
        flex-direction: column;
        margin-top: 450px;
        width: 80%;
    }

    .first-part{
        border-top-left-radius: 15px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 0px;
    }

    .third-part{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 15px;
    }

    
}